<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <h2 class='text-center'>Edit My Profile</h2>
    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class='form-group'>
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.check_box :subscribe %>
        <%= f.label :subscribe, 'Subscribe to Newsletter?' %>
      </div>

      <hr>

      <div class='form-group'>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>

      <hr>

      <div class='form-group'>
        <%= f.submit 'Update', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
