<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-sm-6'>
            <%= listing.user.first_name %>
          </div>
          <div class='col-sm-6 text-right'>
            <span class='created_at'><%= link_to time_ago_in_words(listing.created_at), listing_path(listing) %></span>
            <% if user_signed_in? && current_user == listing.user %>
              &nbsp;
              <%= link_to icon('wrench'), edit_listing_path(listing) %>
              &nbsp;
              <%= link_to icon('trash-o'), listing_path(listing), method: :delete, data: { confirm: 'Are you sure you want to delete this Listing?'} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='panel-body'>
        <div><%= image_tag listing.image_url %></div>
      </div>
      <div class='panel-footer'>
        <div class='listing-title'><%= listing.title %></div>
        <div class='listing-location'><%= icon('map-marker') %> <%= listing.state %> <%= listing.zipcode %></div>
        <div class='listing-content'><%= listing.content %></div>
      </div>
    </div>
  </div>
</div>
