<div class='row' id='<%= dom_id(listing) %>'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-sm-6'>
            <%= listing.user.first_name %>
          </div>
          <div class='col-sm-6 text-right'>
            <span class='created_at'><%= link_to time_ago_in_words(listing.created_at), listing_path(listing) %></span>
            <% if user_signed_in? && current_user == listing.user %>
              &nbsp;
              <%= link_to icon('wrench'), edit_listing_path(listing) %>
              &nbsp;
              <%= link_to icon('trash-o'), listing_path(listing), method: :delete, data: { confirm: 'Are you sure you want to delete this Listing?'} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='panel-body'>
        <div><%= image_tag listing.image_url %></div>
      </div>
      <div class='panel-footer'>
        <div class='listing-title'><%= listing.title %></div>
        <div class='listing-location'><%= icon('map-marker') %> <%= display_us_state(listing.state) %> <%= listing.zipcode %></div>
        <div class='listing-content'><%= listing.content %></div>

        <hr>

        <div class='listing-comments'>
          <% if listing.comments.blank? %>
            <div class='comment view-all'>
              No comments yet. Be the first to leave a comment.
            </div>
          <% end %>

          <% if params[:id].present? || listing.comments.size <= 5 %>
            <%= render listing.comments %>
          <% else %>
            <div class='comment'>
              <%= link_to "view all #{pluralize(listing.comments.count, 'comment')}", listing_path(listing), class: 'view-all' %>
            </div>
            <%= render listing.comments.last(5) %>
          <% end %>
        </div>

        <div class='listing-new-comment'>
          <%= form_for Comment.new, remote: true do |f| %>
            <%= f.hidden_field :commentable_type, value: 'Listing' %>
            <%= f.hidden_field :commentable_id, value: listing.id %>
            <div class='form-group'>
              <%= f.text_area :comment, class: 'form-control', placeholder: ('Please sign in to leave a comment.' unless user_signed_in?) %>
            </div>
            <div class='form-group'>
              <%= f.submit 'Comment', class: 'btn btn-sm btn-success' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
