<% if @comment.valid? %>
  $('#<%= dom_id(@comment.commentable) %> .<%= params[:comment][:commentable_type].downcase %>-comments').append('<%=j render @comment %>');
<% else %>
  $('#<%= dom_id(@comment.commentable) %> .<%= params[:comment][:commentable_type].downcase %>-new-comment').prepend('<div class="alert alert-danger text-center">Sorry! We were not able to save your comment.</div>');
<% end %>
