<!DOCTYPE html>
<html>
<head>
  <title>Get This, Make That</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "<%= ENV['UPLOADCARE_PUBLIC_KEY'] %>";
  </script>
  <script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Get This, Make That</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class='<%= 'active' if controller_name == 'listings' %>'><%= link_to 'Listings', listings_path %></li>
        <li class='<%= 'active' if controller_name == 'requests' %>'><%= link_to 'Requests', requests_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'My Listings', mine_listings_path %></li>
          <li><%= link_to 'My Requests', mine_requests_path %></li>
          <li><%= link_to 'My Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up to Post', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if !devise_controller? %>
  <div class="jumbotron">
    <div class="container text-center">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error] || flash[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:error] || flash[:alert]  %>
        </div>
      <% end %>

      <h3>
        Post & Part with
        <span class='text-muted'>or</span>
        Cruise & Nab
      </h3>
      <h3>FREE Leftover or Unwanted Home Improvement Materials</h3>
      <br>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form role="search" action="/search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Listings by ZIP Code" name="zipcode">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">

  <% if user_signed_in? %>
    <div class='new-nav text-center'>
      <%= link_to new_listing_path, class: 'btn btn-primary' do %>
        <%= icon('paint-brush') %>
        To Post a Construction Materials Listing
      <% end %>
      <%= link_to new_request_path, class: 'btn btn-warning' do %>
        <%= icon('comment') %>
        To Post a Request for Construction Materials
      <% end %>
    </div>

    <hr>
  <% end %>

  <div class='container-content'>
    <%= yield %>
  </div>
</div>

</body>
</html>
